/* style.css */

/* Polices spéciales titre h1 */


@font-face {
    font-family: 'great_vibesregular';
    src: url('../font/greatvibes-regular-webfont.woff2') format('woff2'),
         url('../font/greatvibes-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}







body {
  margin: 0px;
  background: rgb(240, 240, 240);
  color: rgb(20, 20, 20);
  font-family: sans-serif;
	font-size: 18px;
  font-weight: lighter;
}


h2, h3 {
  font-family: sans-serif;
  font-weight: bold;
}




h2 {
  font-size: 20px;
  color: white;
}
 

/* couleur 
 
a {
  color: #6772e5;
  text-decoration: none;
}
a:hover {
  color: #FFFFFF;
} */


a /* Liens par défaut (non survolés) */
{
   text-decoration: none;
   color: #6772e5;
   font-style: italic;
}



a:hover /* Apparence au survol des liens */
{
   text-decoration: underline;
   color: #09147E;
}


/* Mise en page Banner */


.banner{
  text-align: center;
  color: white;
	padding: 40px 0px;
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.4) 50%), url("../images/photo_concepteur_web.jpeg");
  background-size: cover;
	background-position: center;
	border-radius: 8px;
}

.banner h1 {
  
   font-family:'great_vibesregular';
 text-align: center;
 font-size: 80px;
 text-shadow: 0 4px 9px blue;
}

.banner p {
  opacity: 0.8;
  font-size: 5px;
  font-weight: lighter;
  margin-bottom: 20px;
  
}


/* Mise en page card-white */

.card-white {
  background-color: #E5E5E5;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 6px 6px #6772e5;
  text-shadow: 0 4px 9px #09147E;
  padding: 15px 5px  15px 5px;
  margin: 16px 0px;
 
  
}

.card-white img {
  margin-bottom: 20px;
  box-shadow: 0 6px 6px #6772e5;
  border-radius: 8px;
}


/* Mise en page footer */

.card-grey {
  background-color: #9E9D9D;
  border-radius: 8px;
  text-align: center;
  color: white;
  box-shadow: 0 6px 6px black;
  text-shadow: 0 6px 6px black;
  padding: 15px 5px  15px 5px;
  margin: 16px 0px;
  
  
}


.card-grey img {
	margin-bottom: 20px;
	box-shadow: 0 6px 6px black;
	border-radius: 8px;

}


/* Mise en page btn-blue */

.btn-blue {
  color: white;
  background: #6772e5;
  box-shadow: 0 6px 6px black;
  border-radius: 8px;
  padding: 15px 75px  15px 75px;
  text-align: center;
  margin: 16px 0px;
  text-shadow: 0 6px 6px black;
}

.btn-blue img {
  margin-bottom: 20px;
  box-shadow: 0 6px 6px black;
  border-radius: 8px;
}



/* Mise en page list-inline */


.list-inline {
  list-style: none;
  padding-left: 0px;
}


#liste
{
    display: flex;
    justify-content: right;
    align-items: right;
    flex-direction: right;
    flex-wrap: nowrap;
}

/* Test CSS3 */

.Liste{
margin: 0px;
  background: rgb(229, 229, 229);
  color: rgb(20, 20, 20);
  font-family: font-family: sans-serif;
	font-size: 20px;
  font-weight: lighter;
  
  
  box-shadow: 0 6px 6px black;
  border-radius: 8px;
  padding: 15px 75px  15px 75px;
  text-align: center;
  margin: 16px 0px;
  
}

.Liste1{
text-align: center;
}

.Liste2{
text-align: left;
}

#conteneur
{
    display: flex;
    
}



/* Test banniere image bouton rouge */








a.bouton {
  color: white;
  background-color: #F30023;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  padding: 3px;
  box-shadow: 0 6px 6px #6772e5;
  border-radius: 8px;
  text-shadow: 0 6px 6px black;
}
a.bouton:hover {
  background-color: black;
  background-image: url(aqua.jpg);
  box-shadow: 0 6px 6px #6772e5;
}


/* Vos règles CSS pour les mobiles ici */


@media(max-width: 480px){
 

#conteneur
{
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
}


body {
		height: auto;
		width: auto;
		margin: 0;
		padding: 0;
	}
	
}




/* Vos règles CSS pour bouton menu vert */



#menu-demo2, #menu-demo2 ul{
padding:0;
margin:0;
list-style:none;
text-align:center;
}
#menu-demo2 li{
display:inline-block;
position:relative;
border-radius:8px 8px 0 0;
}
#menu-demo2 ul li{
display:inherit;
border-radius:0;
}
#menu-demo2 ul li:hover{
border-radius:0;
}
#menu-demo2 ul li:last-child{
border-radius:0 0 8px 8px;
}
#menu-demo2 ul{
position:absolute;
z-index: 1000;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
}
#menu-demo2 li:hover ul{
max-height:15em;
}
/* background des liens menus */
#menu-demo2 li:first-child{
background-color: #65537A;
background-image:-webkit-linear-gradient(top, #65537A 0%, #2A2333 100%);
background-image:linear-gradient(to bottom, #65537A 0%, #2A2333 100%);
}
#menu-demo2 li:nth-child(2){
background-color: #729EBF;
background-image: -webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
background-image:linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
}
#menu-demo2 li:nth-child(3){
background-color: #F6AD1A;
background-image:-webkit-linear-gradient(top, #F6AD1A 0%, #9F391A 100%);
background-image:linear-gradient(to bottom, #F6AD1A 0%, #9F391A 100%);
}
#menu-demo2 li:last-child{
background-color: #CFFF6A;
background-image:-webkit-linear-gradient(top, #CFFF6A 0%, #677F35 100%);
background-image:linear-gradient(to bottom, #CFFF6A 0%, #677F35 100%);
}
/* background des liens sous menus */
#menu-demo2 li:first-child li{
background:#2A2333;
}
#menu-demo2 li:nth-child(2) li{
background:#333A40;
}
#menu-demo2 li:nth-child(3) li{
background:#9F391A;
}
#menu-demo2 li:last-child li{
background:#677F35;
}
/* background des liens menus et sous menus au survol */
#menu-demo2 li:first-child:hover, #menu-demo2 li:first-child li:hover{
background:#65537A;
}
#menu-demo2 li:nth-child(2):hover, #menu-demo2 li:nth-child(2) li:hover{
background:#729EBF;
}
#menu-demo2 li:nth-child(3):hover, #menu-demo2 li:nth-child(3) li:hover{
background:#F6AD1A;
}
#menu-demo2 li:last-child:hover, #menu-demo2 li:last-child li:hover{
background:#CFFF6A;
}
/* les a href */
#menu-demo2 a{
text-decoration:none;
display:block;
padding:8px 32px;
color:#fff;
font-family:arial;
}
#menu-demo2 ul a{
padding:8px 0;
}
#menu-demo2 li:hover li a{
color:#fff;
text-transform:inherit;
}
#menu-demo2 li:hover a, #menu-demo2 li li:hover a{
color:#000;
}
